<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Editing Parking</h2>
      </div>
      <div class="panel-body">
         <%= render 'form' %>
      </div>
      <div class="panel-footer">
        <%= link_to 'Show', @parking %> |
        <%= link_to 'Back', parkings_path %>
      </div>
    </div>
  </div>
</div>
