<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Add a new Parking</h2>
      </div>
      <div class="panel-body">
        <%= render partial: "form", locals: {parking: @parking} %>
      </div>
      <div class="panel-footer">
        <%= link_to 'Back', parkings_path %>
      </div>
    </div>
  </div>
