<h1>View Car Details</h1>
<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @car.registration_number %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
