<% if flash[:notice] %>
  <div class="alert alert-info" role="alert" id="info"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-warning" role="alert" id="notice"><%= flash[:alert] %></div>
<% end %>

